body {
     
    font-family: 'Overpass', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
    margin: 0;
    height: 100%;
    width: 100%;
    
}

.caresAct {
     position: relative;
    background: #Fbd715;
    text-align: center;
    line-height: 2.5;
  

} 

#caresActdescription {
    position: center;
    color: black;
    font: 14px 'Overpass', 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';

    
} 

/* #nav-image { */
    /* width: 5%; */
    /* display: inline;
    float: left;
    justify-content: flex-start;
    width: 16px;
    height: 16px;
    background: #e33e42;
    border: 0px;
    margin: 0px;
    padding: 14px 0px 0px 18px; */
    
/* } */

.nav-list {
    position: fixed;
    overflow: hidden;
    width: 100%;
    z-index: 10;
    /* display: inline-flex; */
    /* justify-content: flex-end; */
    /* align-items: stretch; */
    background: black; 
    
    /* color: white;
    width: 72px;
    height: 72px;
    padding: 14px 0px 0x 15px;
    padding-left: 18px; */ 
    }

#learnMore{
    position: relative;
    background: black;
    color: white;
}

.nav-list li {
    /* margin-left: auto; */
    text-decoration: none;
    float: left;
    
}    

.nav-list a {
    color: white;
    text-decoration: none;
    
}

.nav-list img {
    width: 55px;
    margin-left: -22px !important;
    margin-top: -16px;
    margin-bottom: -3px;
    text-decoration: none;
}


.right {
    float: right;
}

.fullpagevideo {
    width: 100%;
    z-index: -1;
    height: 50%;
 
}

.banner-wrapper {
    position: center;
    margin: 0px 350px;
    padding: 0px 100px;
    background-color: green;
}

.bannerBox{
    background-color:black;
    color: white;
    text-decoration: none;
    opacity: 0.6;
    z-index: 1;
    position: absolute;
    /* bottom: 20px; */
    top: 500px;
    left: 500px;
    font-size: 25px;
}

#learnMoreh2 { 
    background-color: red;
    width: 300px;
    padding: 10px;
    margin: 20px;
    top: 20px;
    left: 20px;
    background-color: none;
}

#contentsCards {
    padding: 85px 0px;
}

/* .cardsWapper { */
    /* position: center; */
/* } */

#contentsCards  h1 {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    color: #348DB9;
    font-size: 60px;
    margin: auto;
    padding: 0px;
}

.cards-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;  
}


.card1-content{
    width: 275px;
    height: 425px;
    padding: 21px 34px 0px;
    font: 21px black;
}

.cardLink1{
    padding: 10px;
    background-color: #E33E42;
    text-decoration: none;
    color: white;
    
}

.card2-content{
    width: 275px;
    height: 425px;
    padding: 21px 34px 0px;
    font: 21px black;
}

.cardLink2{
    padding: 10px;
    background-color: #E33E42;
    text-decoration: none;
    color: white;
}

.card3-content {
    width: 275px;
    height: 425px;
    padding: 21px 34px 0px;
    font: 21px black;
    
}

.cardLink3{
    padding: 10px;
    background-color: #E33E42;
    text-decoration: none;
    color: white;
}

.EFAlogoSection{
    display: flex; 
    /* justify-content: space-between;  */
    /* align-items: center;  */
    /* flex-direction: row; */
    margin: 40px 40px 40px 40px;
    border: 40px 40px 40px 40px;
    padding: 40px 40px 40px 40px;
    text-decoration: none;
    list-style-type: none;
    width: 850px;
    font-size: 21px;
    margin: auto;
}

#sheildImg {
    margin: 300px;
    padding: 300px;
}

 .second-column h2 { 
     font: 36px #348DB9; 
     padding: 20px;
} 

